:root {
    --main-color: #252525;
    --second-color: #6930c3;
    --third-color: #64dfdf;
    --fourth-color: #80ffdb;
}

header {
    height: 4rem;
    width: 100%;
    background-color: var(--main-color);
    color: white;
}

