.Social {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
}
.Social:hover {
    opacity: 0.6;
}

.Social-facebook {
    background: rgb(59,89,152);
    color: white;
}

.Social-instagram {
        background: rgb(18,86,136);
        color: white;
}
.Social-twitter {
    background: rgb(85,172,238);
}
.Social-youtube {
    background: rgb(187,0,0);
}