
:root {
    --main-color: #252525;
    --second-color: #6930c3;
    --third-color: #64dfdf;
    --fourth-color: #80ffdb;
}

header {
    
}

.top-panel {
    margin: 1rem;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.main-title {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1rem;
}

.site-links-container {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    padding-top: 3rem;
    padding-right: 2rem;
}

.ul-container {
    display: flex;
    justify-content: space-between;
}

.links {
    padding: .5rem;
    text-decoration: none;
    list-style: none;
}



.hero {
    display: flex;
    color: white;
}

.search-bar {

}

.left-panel {
    position: relative;
    background-color: var(--second-color);
    width: 25%;
    height: 50rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    padding: 2rem;
    text-align: center;
}

.search-bar {
    margin: 1rem;
    border-radius: 10px;
}

.submit {
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.submit:hover {
    background-color: black;
    color: white;
}

.movie-genres {
    border-top: 2px solid black;
    padding-top: 2rem;
}

.genre-btn {
    width: 15rem;
    margin-top: .5rem;
    border-radius: 10px;
    background-color: var(--fourth-color);
}

.genre-btn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.main-body {

    background-color: var(--third-color);
    width: 70%;
    height: 50rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    right: 0;
}

.footer {
    display: flex;
    background: var(--third-color);
    width: 98%;
    padding: 40px 35px;
    margin: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
    background: rgb(59,89,152);
    color: white;
}

.fa-instagram {
        background: rgb(18,86,136);
        color: white;
}
.fa-twitter {
    background: rgb(85,172,238);
}
.fa-youtube {
    background: rgb(187,0,0);

}