
:root {
    --main-color: #252525;
    --second-color: #6930c3;
    --third-color: #64dfdf;
    --fourth-color: #80ffdb;
}

header {
    position: fixed;
    padding: 1rem;
    background-color: white;
    height: 8rem;
    z-index: 990;
    width: 100%;
}

.top-panel {
    position: sticky;
    background-color: var(--main-color);
    padding: 1rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 0 10px black;
    width: 71%;
    left: 27%;
    margin-left: 1rem;
    height: 7rem;
    z-index: 999;
}

.main-title {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1rem;
}

.site-links-container {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    padding-top: 3rem;
    padding-right: 2rem;
}

.ul-container {
    display: flex;
    justify-content: space-between;
}

.links {
    padding: .5rem;
    text-decoration: none;
    list-style: none;
}

.links:hover {
    text-shadow: 0px 0px 3px white;
}

.search-check:checked ~ .links {
    background-color: pink;
}

.search-check {
    display: none;
}

.hero {
    display: flex;
    color: white;
    width: 100%;
}

.left-panel {
    position: fixed;
    top: 0rem;
    background-color: var(--second-color);
    width: 25%;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    padding: 2rem;
    text-align: center;
    height: 96%;
    z-index: 999;
}

.search-bar {
    margin: 1rem;
    border-radius: 10px;
    width: 90%;
}

.submit {
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.submit:hover {
    background-color: black;
    color: white;
}

.movie-genres {
    border-top: 2px solid black;
    padding-top: 2rem;
}

.genre-btn {
    width: 90%;
    margin-top: .5rem;
    border-radius: 10px;
    background-color: var(--fourth-color);
}

.genre-btn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

h2 {
    padding: 3rem 0 2rem 2.5rem;
    color: black;
}

.content {
    position: absolute;
    top: 8rem;
}

.movie-container {
    position: relative;
    background-color: var(--third-color);
    width: 70%;
    margin: 1rem;
    padding: 0 1rem 1rem 0;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    left: 26%;
}

.movie-results {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    background-color: var(--main-color);
    width: 15rem;
    height: 25rem;
    margin: 1rem 0rem 0rem 3rem;
    border-radius: 10px;
    padding: .5rem;
}

.movie-card:hover {
    box-shadow: 0 0 15px black;
}

ul {
    list-style: none;
    text-decoration: none;
    margin-left: -1rem;
}

img {
    height: 100%;
    width: 100%;
}

.movie-picture {
    margin: 1rem;
    height: 60%;
}

.movie-description {
    text-align: left;
}

.add-favourites {
    position: relative;
    margin-top: .5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: yellow;
    margin-left: 1rem;
}

.remove-favourites {
    position: relative;
    margin-top: .5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: yellow;
    margin-left: 1rem;
}

.add-favourites:hover {
    color: white;
    background-color: var(--second-color);
}

.favourites-container {
    display: flex;
    flex-wrap: wrap;
}

.favourites-panel {
    position: relative;
    background-color: var(--third-color);
    width: 70%;
    margin: 1rem;
    padding: 0 1rem 1rem 0;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    left: 26%;
    justify-content: space-around;

}

/*---------------------*/
/*      MEDIA 500      */
/*---------------------*/

@media screen and (max-width: 950px) {

header {
    padding: 0rem;
}

.top-panel {
    position: fixed;
    width: 100%;
    margin: 0rem;
    border-radius: 0px;
    height: 8rem;
    left: 0;
    z-index: 999;
}

.main-title {
    font-size: 2.5rem;
    padding-top: 0rem;
    text-align: center;
}

.site-links-container {
    padding-top: 0rem;
    position: relative;
}

.left-panel {
    position: relative;
    width: 100%;
    margin: 0rem;
    box-shadow: none;
    border-radius: 0px;
    height: 35rem;
    padding: 1rem;
    top: 8rem;
    z-index: 5;

}

.content {
    top: 40rem;
}

.movie-container {
    position: relative;
    left: 0;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
}

.favourites-panel {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.movie-card {
    background-color: var(--main-color);
    width: 10rem;
    height: 100%;
    margin: 1rem 0rem 0rem 1rem;
    border-radius: 10px;
    padding: .1rem;
}

.add-favourites {
    margin-left: -.5rem;
    margin-right: .5rem;
}

.remove-favourites {
    margin-left: -.5rem;
    margin-right: .5rem;
}

ul {
    margin-left: -1.25rem;
}

}

/*---------------------*/
/*      MEDIA 400      */
/*---------------------*/

@media screen and (max-width: 400px) {


.footer {
    display: flex;
    background: var(--third-color);
    width: 98%;
    padding: 40px 35px;
    margin: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: rgb(59,89,152);
    color: white;
}

.fa-instagram {
        background: rgb(18,86,136);
        color: white;
}
.fa-twitter {
    background: rgb(85,172,238);
}
.fa-youtube {
    background: rgb(187,0,0);
